name: dogdom
description: Ui kit for pet communities

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=2.16.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.2

  flutter_native_splash: ^2.0.2

  flutter_svg: ^1.0.3

  fluttertoast: ^8.0.8

  flutter_bloc: ^8.0.1

  # Localization
  easy_localization: ^3.0.0

  # Database
  hive: ^2.0.5
  hive_flutter: ^1.1.0

  # DI
  injectable: ^1.5.3
  get_it: ^7.2.0

  # Data classes
  freezed: ^1.1.1
  freezed_annotation: ^1.1.0

  intl_phone_number_input:
    git:
      url: https://github.com/RationalEgoism/intl_phone_number_input

dev_dependencies:
  build_runner: ^2.1.7

  flutter_test:
    sdk: flutter

  flutter_lints: ^1.0.0

  # Database
  hive_generator: ^1.1.2

  # DI
  injectable_generator: ^1.5.3

flutter:
  uses-material-design: true

  assets:
    - assets/image/
    - assets/translations/

  fonts:
    - family: Gilroy
      fonts:
        - asset: fonts/Gilroy-Bold.ttf
        - asset: fonts/Gilroy-Medium.ttf
        - asset: fonts/Gilroy-Regular.ttf
